CodenamesGame/Connected Services/FriendService/FriendService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9051/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9051/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9051/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.Request" />
      <xsd:import schemaLocation="http://localhost:9051/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.DTO" />
      <xsd:import schemaLocation="http://localhost:9051/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendManager_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_AcceptFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_AcceptFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_RejectFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_RejectFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_RemoveFriend_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriend" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_RemoveFriend_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFriendResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_SearchPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlayers" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_SearchPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_GetFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriends" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_GetFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_GetIncomingRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIncomingRequests" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_GetIncomingRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIncomingRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_GetSentRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSentRequests" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_GetSentRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSentRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_NotifyNewFriendRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyNewFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_NotifyFriendRequestAccepted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyFriendRequestAccepted" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_NotifyFriendRequestRejected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyFriendRequestRejected" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_NotifyFriendRemoved_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyFriendRemoved" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_NotifyOperationSuccess_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyOperationSuccess" />
  </wsdl:message>
  <wsdl:message name="IFriendManager_NotifyOperationFailure_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyOperationFailure" />
  </wsdl:message>
  <wsdl:portType name="IFriendManager">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/Connect" message="tns:IFriendManager_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/ConnectResponse" message="tns:IFriendManager_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/Disconnect" message="tns:IFriendManager_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/DisconnectResponse" message="tns:IFriendManager_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/SendFriendRequest" message="tns:IFriendManager_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/SendFriendRequestResponse" message="tns:IFriendManager_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/AcceptFriendRequest" message="tns:IFriendManager_AcceptFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/AcceptFriendRequestResponse" message="tns:IFriendManager_AcceptFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/RejectFriendRequest" message="tns:IFriendManager_RejectFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/RejectFriendRequestResponse" message="tns:IFriendManager_RejectFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/RemoveFriend" message="tns:IFriendManager_RemoveFriend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/RemoveFriendResponse" message="tns:IFriendManager_RemoveFriend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/SearchPlayers" message="tns:IFriendManager_SearchPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/SearchPlayersResponse" message="tns:IFriendManager_SearchPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/GetFriends" message="tns:IFriendManager_GetFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/GetFriendsResponse" message="tns:IFriendManager_GetFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIncomingRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/GetIncomingRequests" message="tns:IFriendManager_GetIncomingRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/GetIncomingRequestsResponse" message="tns:IFriendManager_GetIncomingRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSentRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendManager/GetSentRequests" message="tns:IFriendManager_GetSentRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/GetSentRequestsResponse" message="tns:IFriendManager_GetSentRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyNewFriendRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/NotifyNewFriendRequest" message="tns:IFriendManager_NotifyNewFriendRequest_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendRequestAccepted">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/NotifyFriendRequestAccepted" message="tns:IFriendManager_NotifyFriendRequestAccepted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendRequestRejected">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/NotifyFriendRequestRejected" message="tns:IFriendManager_NotifyFriendRequestRejected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendRemoved">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/NotifyFriendRemoved" message="tns:IFriendManager_NotifyFriendRemoved_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyOperationSuccess">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/NotifyOperationSuccess" message="tns:IFriendManager_NotifyOperationSuccess_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyOperationFailure">
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendManager/NotifyOperationFailure" message="tns:IFriendManager_NotifyOperationFailure_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendManager" type="tns:IFriendManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/AcceptFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/RejectFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFriend">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/RemoveFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPlayers">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/SearchPlayers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriends">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/GetFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingRequests">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/GetIncomingRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSentRequests">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/GetSentRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyNewFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/NotifyNewFriendRequest" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendRequestAccepted">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/NotifyFriendRequestAccepted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendRequestRejected">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/NotifyFriendRequestRejected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendRemoved">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/NotifyFriendRemoved" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyOperationSuccess">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/NotifyOperationSuccess" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyOperationFailure">
      <soap12:operation soapAction="http://tempuri.org/IFriendManager/NotifyOperationFailure" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendService">
    <wsdl:port name="NetTcpBinding_IFriendManager" binding="tns:NetTcpBinding_IFriendManager">
      <soap12:address location="net.tcp://localhost:9052/Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9052/Services</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>