CodenamesGame/Connected Services/MatchService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9068/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.DTO" />
  <xs:import schemaLocation="http://localhost:9068/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:9068/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.DTO" minOccurs="0" name="PartyGuest" nillable="true" type="q1:Player" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.DTO" minOccurs="0" name="PartyHost" nillable="true" type="q2:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Party" nillable="true" type="tns:Party" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BoardPlayerOne" nillable="true" type="q3:ArrayOfArrayOfint" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BoardPlayerTwo" nillable="true" type="q4:ArrayOfArrayOfint" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.DTO" minOccurs="0" name="Companion" nillable="true" type="q5:Player" />
      <xs:element minOccurs="0" name="MatchID" type="ser:guid" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.DTO" minOccurs="0" name="Requester" nillable="true" type="q6:Player" />
      <xs:element minOccurs="0" name="Rules" nillable="true" type="tns:MatchRules" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectedWords" nillable="true" type="q7:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="MatchRules">
    <xs:sequence>
      <xs:element minOccurs="0" name="BystanderTokens" type="xs:int" />
      <xs:element minOccurs="0" name="Gamemode" type="tns:Gamemode" />
      <xs:element minOccurs="0" name="TimerTokens" type="xs:int" />
      <xs:element minOccurs="0" name="TurnTimer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchRules" nillable="true" type="tns:MatchRules" />
  <xs:simpleType name="Gamemode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NORMAL" />
      <xs:enumeration value="CUSTOM" />
      <xs:enumeration value="COUNTERINTELLIGENCE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gamemode" nillable="true" type="tns:Gamemode" />
  <xs:simpleType name="MatchRoleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SPYMASTER" />
      <xs:enumeration value="GUESSER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MatchRoleType" nillable="true" type="tns:MatchRoleType" />
  <xs:complexType name="AgentPickedNotification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordinates" nillable="true" type="tns:BoardCoordinates" />
      <xs:element minOccurs="0" name="NewTurnLength" type="xs:int" />
      <xs:element minOccurs="0" name="SenderID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentPickedNotification" nillable="true" type="tns:AgentPickedNotification" />
  <xs:complexType name="BoardCoordinates">
    <xs:sequence>
      <xs:element minOccurs="0" name="Column" type="xs:int" />
      <xs:element minOccurs="0" name="Row" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoardCoordinates" nillable="true" type="tns:BoardCoordinates" />
  <xs:complexType name="BystanderPickedNotification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordinates" nillable="true" type="tns:BoardCoordinates" />
      <xs:element minOccurs="0" name="RemainingTokens" type="xs:int" />
      <xs:element minOccurs="0" name="SenderID" type="ser:guid" />
      <xs:element minOccurs="0" name="TokenToUpdate" type="tns:TokenType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BystanderPickedNotification" nillable="true" type="tns:BystanderPickedNotification" />
  <xs:simpleType name="TokenType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TIMER" />
      <xs:enumeration value="BYSTANDER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TokenType" nillable="true" type="tns:TokenType" />
  <xs:complexType name="AssassinPickedNotification">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coordinates" nillable="true" type="tns:BoardCoordinates" />
      <xs:element minOccurs="0" name="FinalMatchLength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssassinPickedNotification" nillable="true" type="tns:AssassinPickedNotification" />
</xs:schema>