CodenamesGame/Connected Services/ScoreboardService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Scoreboard">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssassinsRevealed" type="xs:int" />
      <xs:element minOccurs="0" name="FastestMatch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GamesWon" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Scoreboard" nillable="true" type="tns:Scoreboard" />
  <xs:complexType name="ArrayOfScoreboard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Scoreboard" nillable="true" type="tns:Scoreboard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScoreboard" nillable="true" type="tns:ArrayOfScoreboard" />
</xs:schema>