CodenamesGame/Connected Services/SessionService/item41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9055/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTO" />
  <xs:import schemaLocation="http://localhost:9055/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.DTO" minOccurs="0" name="PlayerOne" nillable="true" type="q1:Player" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.DTO" minOccurs="0" name="PlayerTwo" nillable="true" type="q2:Player" />
      <xs:element minOccurs="0" name="Rules" nillable="true" type="tns:MatchRules" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectedWords" nillable="true" type="q3:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="MatchRules">
    <xs:sequence>
      <xs:element minOccurs="0" name="BystanderTokens" type="xs:int" />
      <xs:element minOccurs="0" name="GameMode" type="tns:GameMode" />
      <xs:element minOccurs="0" name="MaxAssassins" type="xs:int" />
      <xs:element minOccurs="0" name="TimerTokens" type="xs:int" />
      <xs:element minOccurs="0" name="TurnTimer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchRules" nillable="true" type="tns:MatchRules" />
  <xs:simpleType name="GameMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NORMAL" />
      <xs:enumeration value="CUSTOM" />
      <xs:enumeration value="COUNTERINTELLIGENCE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameMode" nillable="true" type="tns:GameMode" />
</xs:schema>