CodenamesGame/Connected Services/SessionService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9055/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" />
  <xs:import schemaLocation="http://localhost:9055/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.Request" />
  <xs:import schemaLocation="http://localhost:9055/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="player" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.DTO.Request" minOccurs="0" name="ConnectResult" nillable="true" type="q2:CommunicationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="player" nillable="true" type="q3:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyNewFriendship">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="friendA" nillable="true" type="q4:Player" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="friendB" nillable="true" type="q5:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendshipEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="friendA" nillable="true" type="q6:Player" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="friendB" nillable="true" type="q7:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="player" nillable="true" type="q8:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendOffline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="playerId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveOnlineFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="friends" nillable="true" type="q10:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyKicked">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="reason" type="q11:KickReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>