CodenamesGame/Connected Services/SessionService/SessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ISessionManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9055/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9055/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9055/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISessionManager_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_NotifyFriendOnline_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyFriendOnline" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_NotifyFriendOffline_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyFriendOffline" />
  </wsdl:message>
  <wsdl:message name="ISessionManager_ReceiveOnlineFriends_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveOnlineFriends" />
  </wsdl:message>
  <wsdl:portType name="ISessionManager">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManager/Connect" message="tns:ISessionManager_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/ConnectResponse" message="tns:ISessionManager_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionManager/Disconnect" message="tns:ISessionManager_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendOnline">
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/NotifyFriendOnline" message="tns:ISessionManager_NotifyFriendOnline_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendOffline">
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/NotifyFriendOffline" message="tns:ISessionManager_NotifyFriendOffline_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveOnlineFriends">
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionManager/ReceiveOnlineFriends" message="tns:ISessionManager_ReceiveOnlineFriends_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ISessionManager" type="tns:ISessionManager">
    <wsp:PolicyReference URI="#NetTcpBinding_ISessionManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/ISessionManager/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/ISessionManager/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendOnline">
      <soap12:operation soapAction="http://tempuri.org/ISessionManager/NotifyFriendOnline" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyFriendOffline">
      <soap12:operation soapAction="http://tempuri.org/ISessionManager/NotifyFriendOffline" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveOnlineFriends">
      <soap12:operation soapAction="http://tempuri.org/ISessionManager/ReceiveOnlineFriends" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port name="NetTcpBinding_ISessionManager" binding="tns:NetTcpBinding_ISessionManager">
      <soap12:address location="net.tcp://localhost:9056/SessionService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9056/SessionService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>