CodenamesGame/Connected Services/AuthenticationService/AuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AuthenticationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAuthenticationManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9047/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9047/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9047/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.Request" />
      <xsd:import schemaLocation="http://localhost:9047/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.DTO" />
      <xsd:import schemaLocation="http://localhost:9047/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" />
      <xsd:import schemaLocation="http://localhost:9047/?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts.ServiceContracts.Managers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthenticationManager_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_BeginPasswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginPasswordReset" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_BeginPasswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginPasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_CompletePasswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:CompletePasswordReset" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_CompletePasswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:CompletePasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_BeginRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:BeginRegistration" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_BeginRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_ConfirmRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRegistration" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_ConfirmRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_CancelRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelRegistration" />
  </wsdl:message>
  <wsdl:message name="IAuthenticationManager_CancelRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelRegistrationResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthenticationManager">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/Login" message="tns:IAuthenticationManager_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/LoginResponse" message="tns:IAuthenticationManager_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/SignIn" message="tns:IAuthenticationManager_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/SignInResponse" message="tns:IAuthenticationManager_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginPasswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/BeginPasswordReset" message="tns:IAuthenticationManager_BeginPasswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/BeginPasswordResetResponse" message="tns:IAuthenticationManager_BeginPasswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CompletePasswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/CompletePasswordReset" message="tns:IAuthenticationManager_CompletePasswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/CompletePasswordResetResponse" message="tns:IAuthenticationManager_CompletePasswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BeginRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/BeginRegistration" message="tns:IAuthenticationManager_BeginRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/BeginRegistrationResponse" message="tns:IAuthenticationManager_BeginRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/ConfirmRegistration" message="tns:IAuthenticationManager_ConfirmRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/ConfirmRegistrationResponse" message="tns:IAuthenticationManager_ConfirmRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthenticationManager/CancelRegistration" message="tns:IAuthenticationManager_CancelRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthenticationManager/CancelRegistrationResponse" message="tns:IAuthenticationManager_CancelRegistration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAuthenticationManager" type="tns:IAuthenticationManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IAuthenticationManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationManager/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationManager/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginPasswordReset">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationManager/BeginPasswordReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompletePasswordReset">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationManager/CompletePasswordReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BeginRegistration">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationManager/BeginRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmRegistration">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationManager/ConfirmRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRegistration">
      <soap12:operation soapAction="http://tempuri.org/IAuthenticationManager/CancelRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="NetTcpBinding_IAuthenticationManager" binding="tns:NetTcpBinding_IAuthenticationManager">
      <soap12:address location="net.tcp://localhost:9048/Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9048/Services</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>