CodenamesGame/Connected Services/AuthenticationService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.DTO.Request" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.DTO.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9047/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:9047/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" />
  <xs:complexType name="AuthenticationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="UserID" nillable="true" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthenticationRequest" nillable="true" type="tns:AuthenticationRequest" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusCode" type="tns:StatusCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:simpleType name="StatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="CREATED" />
      <xs:enumeration value="UPDATED" />
      <xs:enumeration value="CONFLICT" />
      <xs:enumeration value="CLIENT_CANCEL" />
      <xs:enumeration value="CLIENT_DISCONNECT" />
      <xs:enumeration value="CLIENT_UNREACHABLE" />
      <xs:enumeration value="CLIENT_TIMEOUT" />
      <xs:enumeration value="MISSING_DATA" />
      <xs:enumeration value="WRONG_DATA" />
      <xs:enumeration value="NOT_FOUND" />
      <xs:enumeration value="UNAUTHORIZED" />
      <xs:enumeration value="UNALLOWED" />
      <xs:enumeration value="SERVER_ERROR" />
      <xs:enumeration value="SERVER_UNAVAIBLE" />
      <xs:enumeration value="SERVER_TIMEOUT" />
      <xs:enumeration value="SERVER_UNREACHABLE" />
      <xs:enumeration value="CLIENT_ERROR" />
      <xs:enumeration value="ACCOUNT_BANNED" />
      <xs:enumeration value="REPORT_CREATED" />
      <xs:enumeration value="REPORT_DUPLICATED" />
      <xs:enumeration value="USER_KICKED_AND_BANNED" />
      <xs:enumeration value="FRIEND_REQUEST_SENT" />
      <xs:enumeration value="FRIEND_ADDED" />
      <xs:enumeration value="FRIEND_REMOVED" />
      <xs:enumeration value="FRIEND_REQUEST_REJECTED" />
      <xs:enumeration value="ALREADY_FRIENDS" />
      <xs:enumeration value="FRIEND_REQUEST_ALREADY_SENT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusCode" nillable="true" type="tns:StatusCode" />
  <xs:complexType name="CommunicationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CommunicationRequest" nillable="true" type="tns:CommunicationRequest" />
  <xs:complexType name="SignInRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsEmailDuplicate" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsEmailValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsPasswordValid" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUsernameDuplicate" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignInRequest" nillable="true" type="tns:SignInRequest" />
  <xs:complexType name="ConfirmEmailRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="RemainingAttempts" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfirmEmailRequest" nillable="true" type="tns:ConfirmEmailRequest" />
  <xs:complexType name="CreateLobbyRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateLobbyRequest" nillable="true" type="tns:CreateLobbyRequest" />
  <xs:complexType name="JoinPartyRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="Party" nillable="true" type="q1:Party" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JoinPartyRequest" nillable="true" type="tns:JoinPartyRequest" />
  <xs:complexType name="FriendshipRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FriendshipRequest" nillable="true" type="tns:FriendshipRequest" />
  <xs:complexType name="PasswordResetRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element minOccurs="0" name="RemainingAttempts" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PasswordResetRequest" nillable="true" type="tns:PasswordResetRequest" />
</xs:schema>