CodenamesGame/Connected Services/MatchmakingService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9058/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" />
  <xs:import schemaLocation="http://localhost:9058/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.Request" />
  <xs:element name="GetMatchWithAFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="configuration" nillable="true" type="q1:MatchConfiguration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchWithAFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.DTO.Request" minOccurs="0" name="GetMatchWithAFriendResult" nillable="true" type="q2:MatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatch">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.DTO.Request" minOccurs="0" name="CancelMatchResult" nillable="true" type="q3:CommunicationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" minOccurs="0" name="match" nillable="true" type="q4:Match" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyMatchCanceled">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>