CodenamesGame/Connected Services/MatchmakingService/MatchmakingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="MatchmakingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMatchmakingManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9058/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9058/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9058/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.Request" />
      <xsd:import schemaLocation="http://localhost:9058/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.DTO" />
      <xsd:import schemaLocation="http://localhost:9058/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" />
      <xsd:import schemaLocation="http://localhost:9058/?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMatchmakingManager_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_RequestArrangedMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestArrangedMatch" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_RequestArrangedMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestArrangedMatchResponse" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_ConfirmMatchReceived_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmMatchReceived" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_RequestMatchCancel_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestMatchCancel" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_NotifyRequestPending_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyRequestPending" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_NotifyMatchReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyMatchReady" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_NotifyPlayersReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyPlayersReady" />
  </wsdl:message>
  <wsdl:message name="IMatchmakingManager_NotifyMatchCanceled_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyMatchCanceled" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IMatchmakingManager">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingManager/Connect" message="tns:IMatchmakingManager_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingManager/ConnectResponse" message="tns:IMatchmakingManager_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingManager/Disconnect" message="tns:IMatchmakingManager_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RequestArrangedMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingManager/RequestArrangedMatch" message="tns:IMatchmakingManager_RequestArrangedMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingManager/RequestArrangedMatchResponse" message="tns:IMatchmakingManager_RequestArrangedMatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConfirmMatchReceived">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingManager/ConfirmMatchReceived" message="tns:IMatchmakingManager_ConfirmMatchReceived_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RequestMatchCancel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMatchmakingManager/RequestMatchCancel" message="tns:IMatchmakingManager_RequestMatchCancel_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyRequestPending">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingManager/NotifyRequestPending" message="tns:IMatchmakingManager_NotifyRequestPending_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyMatchReady">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingManager/NotifyMatchReady" message="tns:IMatchmakingManager_NotifyMatchReady_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyPlayersReady">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingManager/NotifyPlayersReady" message="tns:IMatchmakingManager_NotifyPlayersReady_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotifyMatchCanceled">
      <wsdl:output wsaw:Action="http://tempuri.org/IMatchmakingManager/NotifyMatchCanceled" message="tns:IMatchmakingManager_NotifyMatchCanceled_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMatchmakingManager" type="tns:IMatchmakingManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IMatchmakingManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingManager/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingManager/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RequestArrangedMatch">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingManager/RequestArrangedMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmMatchReceived">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingManager/ConfirmMatchReceived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RequestMatchCancel">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingManager/RequestMatchCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyRequestPending">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingManager/NotifyRequestPending" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMatchReady">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingManager/NotifyMatchReady" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPlayersReady">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingManager/NotifyPlayersReady" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMatchCanceled">
      <soap12:operation soapAction="http://tempuri.org/IMatchmakingManager/NotifyMatchCanceled" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MatchmakingService">
    <wsdl:port name="NetTcpBinding_IMatchmakingManager" binding="tns:NetTcpBinding_IMatchmakingManager">
      <soap12:address location="net.tcp://localhost:9059/MatchmakingService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9059/MatchmakingService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>