CodenamesGame/Connected Services/EmailService/EmailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="EmailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEmailManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9053/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9053/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9053/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.DataContract" />
      <xsd:import schemaLocation="http://localhost:9053/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Services.DTO.Request" />
      <xsd:import schemaLocation="http://localhost:9053/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailManager_SendVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCode" />
  </wsdl:message>
  <wsdl:message name="IEmailManager_SendVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailManager_ValidateVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateVerificationCode" />
  </wsdl:message>
  <wsdl:message name="IEmailManager_ValidateVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmailManager">
    <wsdl:operation name="SendVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailManager/SendVerificationCode" message="tns:IEmailManager_SendVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailManager/SendVerificationCodeResponse" message="tns:IEmailManager_SendVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailManager/ValidateVerificationCode" message="tns:IEmailManager_ValidateVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailManager/ValidateVerificationCodeResponse" message="tns:IEmailManager_ValidateVerificationCode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEmailManager" type="tns:IEmailManager">
    <wsp:PolicyReference URI="#NetTcpBinding_IEmailManager_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/IEmailManager/SendVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/IEmailManager/ValidateVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailService">
    <wsdl:port name="NetTcpBinding_IEmailManager" binding="tns:NetTcpBinding_IEmailManager">
      <soap12:address location="net.tcp://localhost:9054/Services" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9054/Services</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>